<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>EzanVaktiPro</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSAllowsLocalNetworking</key>
        <true/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location for providing prayer times notifications.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need access to your location for providing prayer times notifications.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need access to your location for providing prayer times notifications.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arm64</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>UIAppFonts</key>
    <array>
        <string>Harmattan-Bold.ttf</string>
        <string>Harmattan-Medium.ttf</string>
        <string>Harmattan-Regular.ttf</string>
        <string>Harmattan-SemiBold.ttf</string>
        <string>Alegreya-Black.otf</string>
        <string>Alegreya-BlackItalic.otf</string>
        <string>Alegreya-Bold.otf</string>
        <string>Alegreya-BoldItalic.otf</string>
        <string>Alegreya-Italic.otf</string>
        <string>Alegreya-Regular.otf</string>
        <string>AlegreyaSC-Black.otf</string>
        <string>AlegreyaSC-BlackItalic.otf</string>
        <string>AlegreyaSC-Bold.otf</string>
        <string>AlegreyaSC-BoldItalic.otf</string>
        <string>AlegreyaSC-Italic.otf</string>
        <string>AlegreyaSC-Regular.otf</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
</dict>
</plist>
